@import "@economist/component-icon";

.Masthead {
  background: var(--Masthead--background-color, #333);
  color: var(--Masthead--color, #fff);
  height: var(--Masthead--height, 70px);
}

.Masthead-container {
  max-width: 960px;
  margin: auto;
  height: calc(var(--Masthead--height, 70px) - (var(--Masthead--container--padding, 7px) * 2));
  padding: var(--Masthead--container--padding, 7px) 0;
  display: table-row;
  height: inherit;
}

.Masthead--logo {
  display: inline-block;
  height: 100%;
}

.Masthead--logo .Icon {
  height: var(--Masthead--height, 70px) !important;
  padding: 0 var(--Masthead--container--padding, 7px);
}

.Masthead--title-wrap {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 10px;
  font-weight: bold;
  vertical-align: bottom;
}

.Masthead--flytitle {
  color: var(--Masthead--flytitle--color, #8b8b8b);
  margin-left:  10px;
  position: relative;
}

.Masthead--container > * {
  display: table-cell;
  vertical-align: top;
}
